{% extends "base.html" %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
<div class="container mt-4" style="width: 60%;">
    <div class="form-title text-center mb-4">
        <h1 class="display-4">{{ page_name }}</h1>
    </div>

    <!-- Form action URL is determined by whether we are adding or editing a student -->
    <form action="{{ url_for('students.edit', original_student_id=original_student_id) if original_student_id else url_for('students.add') }}" method="post" class="needs-validation" enctype="multipart/form-data">
        {{ form.csrf_token() }}

        <!-- Hidden input for the original student ID (for editing) -->
        {% if original_student_id %}
        <input type="hidden" id="original-student-id" name="original-student-id" value="{{ original_student_id }}">
        {% endif %}

        <!-- Profile Picture -->
        <div class="mb-4 text-center">
            <div>
                <img id="studentImage" src="{{ profile_picture_data }}" alt="{{ form.id_number.data }}" class="img-fluid img-thumbnail" style="height: 200px; width: 200px;">
                <p class="h3">Profile Picture</p> <br>
            </div>
            
            <!-- Only for checking if the user changes the profile picture -->
            <input type="hidden" name="alt-profile" id="alt-profile" value="{{ profile_picture_data }}" readonly>
            <!-- For the javascript file, setting the default picture -->
            <input type="hidden" name="default-profile" id="default-profile" value="{{ url_for('static', filename='images/icons/default_profile.png') }}" readonly>

            <div class="input-group mt-3">
                <input type="file" class="form-control" id="profile-picture" name="profile-picture" accept=".jpg, .jpeg, .png" onchange="preview(5)" title="Size must be less than 5MB">
                <button class="btn btn-secondary" type="button" id="resetButton" onclick="resetPic()" title="Reset to the original image">Reset</button>
                <button class="btn btn-danger" type="button" id="removeButton" onclick="removePic()" title="Remove the image">Remove</button>
            </div>
        </div>

        <!-- Form group for ID Number -->
        <div class="mb-4">
            {{ form.id_number.label(class="form-label") }}
            {{ form.id_number(class="form-control {% if form.id_number.errors %}is-invalid{% endif %}",
            placeholder="e.g. 2022-3337") }}
            {% if form.id_number.errors %}
            <div class="invalid-feedback">{% for error in form.id_number.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Form group for First Name -->
        <div class="mb-4">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control {% if form.first_name.errors %}is-invalid{% endif %}",
            placeholder="e.g. Kup") }}
            {% if form.first_name.errors %}
            <div class="invalid-feedback">{% for error in form.first_name.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Form group for Last Name -->
        <div class="mb-4">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control {% if form.last_name.errors %}is-invalid{% endif %}",
            placeholder="e.g. Al") }}
            {% if form.last_name.errors %}
            <div class="invalid-feedback">{% for error in form.last_name.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Form group for Program Code -->
        <div class="mb-4">
            {{ form.program_code.label(class="form-label") }}
            {{ form.program_code(class="form-select {% if form.program_code.errors %}is-invalid{% endif %}") }}
            {% if form.program_code.errors %}
            <div class="invalid-feedback">{% for error in form.program_code.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Form group for Year Level -->
        <div class="mb-4">
            {{ form.year_level.label(class="form-label") }}
            {{ form.year_level(class="form-select {% if form.year_level.errors %}is-invalid{% endif %}") }}
            {% if form.year_level.errors %}
            <div class="invalid-feedback">{% for error in form.year_level.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Form group for Gender -->
        <div class="mb-4">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control {% if form.gender.errors %}is-invalid{% endif %}", placeholder="e.g.
            ALUGBATI") }}
            {% if form.gender.errors %}
            <div class="invalid-feedback">{% for error in form.gender.errors %} {{ error }} {% endfor %}</div>
            {% endif %}
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" id="submit-form" class="btn btn-primary btn-lg">{{ 'Add Student' if not
                original_student_id else 'Update Student' }}</button>
        </div>
    </form>
</div>

<script type="text/javascript" src='{{ url_for("static", filename="javascript/students/confirmForm.js") }}'></script>
<script type="text/javascript" src='{{ url_for("static", filename="javascript/students/profilePictureHandler.js") }}'></script>
{% endblock %}