{% extends "base.html" %}

{% block title %}Students Page{% endblock %}

{% block search %}
<div class="operation-area">
  <div class="operations">
    <form class="d-flex" role="search" action="{{ url_for('students.search') }}" method="get">
      <select name="column-search" id="column-search" class="form-select-lg">
        <option class="columns-options" value="student_id" {% if column_name == 'student_id' %}selected{% endif %}>ID Number</option>
        <option class="columns-options" value="first_name" {% if column_name == 'first_name' %}selected{% endif %}>First Name</option>
        <option class="columns-options" value="last_name" {% if column_name == 'last_name' %}selected{% endif %}>Last Name</option>
        <option class="columns-options" value="program_code" {% if column_name == 'program_code' %}selected{% endif %}>Program</option>
        <option class="columns-options" value="year_level" {% if column_name == 'year_level' %}selected{% endif %}>Year Level</option>
        <option class="columns-options" value="gender" {% if column_name == 'gender' %}selected{% endif %}>Gender</option>
      </select>
      <input class="form-control me-2" id="param-search" type="search" name="param-search" placeholder="Search" value="{{ searched_item }}" aria-label="Search">
      <button class="search-btn btn btn-outline-secondary" type="submit">Search</button>
    </form>
    <form action="{{ url_for('students.add') }}" method="get" class="add-form">
      <button type="submit" id="add-item" class="btn btn-success">Add Student</button>
    </form>
  </div>
</div>
{% endblock %}

{% block content %}
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Program</th>
      <th scope="col">Year</th>
      <th scope="col">Gender</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td><img src="{{ pics[student[1]] }}" alt="{{ student[1] }}" class="profile img-fluid img-thumbnail"
        data-bs-toggle="modal" data-bs-target="#imageModal" onclick="document.getElementById('modal-image').src = this.src"></td>
      <td>{{ student[1] }}</td>
      <td>{{ student[2] }}</td>
      <td>{{ student[3] }}</td>
      <td>{% if student[4] %} {{ student[4] }} ({{ student[7] }}) {% else %} Unenrolled {% endif %}</td>
      <td>{{ student[5] }}</td>
      <td>{{ student[6] }}</td>
      <td>
        <form action="{{ url_for('students.edit', original_student_id=student[1]) }}" method="get">
          <button type="submit" class="edit-item btn btn-outline-warning btn-sm">Edit</button>
        </form>
      </td>
      <td>
        <form action="{{ url_for('students.delete', delete_student_id=student[1]) }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="delete-item btn btn-outline-danger btn-sm" data-id="{{ student[1] }}">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal Structure -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center align-items-center" style="min-height: 300px;">
              <img id="modal-image" src="" alt="Image Preview" class="img-fluid" style="max-height: 80vh; max-width: 100%;">
          </div>
      </div>
  </div>
</div>

<!-- This script is for the function button -->
<script type="text/javascript" src='{{ url_for("static", filename="javascript/students/confirmDelete.js") }}'></script>
{% endblock %}