<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/icon.ico') }}">

    <title>SSIS {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-pills nav-fill">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Simple Student Information System (SSIS)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('students.index') }}">Students</a>
                    <a class="nav-link" href="{{ url_for('programs.index') }}">Programs</a>
                    <a class="nav-link" href="{{ url_for('colleges.index') }}">Colleges</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="container mt-4">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Main Components/Display -->
    <main>
        <br>
        {% block search %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        <br>
    </main>

    <!-- Scroll to Top Button -->
    <button id="scrollToTopBtn" class="btn btn-secondary btn-lg" title="Scroll to Top"><i>Go Up</i></button>
    <script src="{{ url_for('static', filename='javascript/scrollUp.js') }}"></script>

    <!-- Add Bootstrap JS and dependencies -->
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sweetalert.min.js') }}"></script>
</body>

</html>