{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">Welcome to the Home Page</h1>
    <h6 class="text-muted mb-4">Created by: Caine Ivan R. Bautista <br>(2022-0378)</h6>
    <br>
    <br>
    <br>
    <form id="start" action="{{ url_for('students.index') }}" method="get">
      <button type="submit" class="btn btn-primary btn-lg">Start &rarr;</button>
    </form>
  </div>
</div>
{% endblock %}
