{% extends "base.html" %}
{% block title %}Programs Page{% endblock %}
{% block search%}
<div class="operation-area">
  <form class="d-flex" role="search" action="#" method="post">
    <select name="column-search" id="column-search" class="form-select-lg" data-selected-value="{{column_name}}">
      <option class="columns-options" value="code" selected>Program Code</option>
      <option class="columns-options" value="name">Program Name</option>
      <option class="columns-options" value="college_code">College Code</option>
    </select>
    <input class="form-control me-2" type="search" name="param-search" placeholder="Search" value="{{ searched_item }}"
      aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
  <button type="button" class="btn btn-success">Add Program</button>
</div>
{% endblock %}

{% block content %}

<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Program Code</th>
      <th scope="col">Program Name</th>
      <th scope="col">College Code</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for program in programs %}
    <tr>
      <td>{{program[0]}}</td>
      <td>{{program[1]}}</td>
      <td>{{program[2]}}</td>
      <td><button class="edit-student">Edit</button></td>
      <td><button class="delete-student">Delete</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}