{% extends "base.html" %}
{% block title %}Programs Page{% endblock %}
{% block content %}
<form class="d-flex" role="search" action="#" method="post">
  <select name="column-search" id="column-search" class="form-select-lg mb-3" aria-label="Small" data-selected-value="{{column_name}}">
    <option class="columns-options" value="code" selected>College Code</option>
    <option class="columns-options" value="name">College Name</option>
  </select>
  <input class="form-control me-2" type="search" name="param-search" placeholder="Search" value="{{ searched_item }}" aria-label="Search" required>
  <button class="btn btn-outline-secondary" type="submit">Search</button>
  <button type="button" class="btn btn-success">Add College</button>
</form>

<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">College Code</th>
      <th scope="col">College Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for college in colleges %}
    <tr>
      <td>{{college[0]}}</td>
      <td>{{college[1]}}</td>
      <td><button class="edit-student">Edit</button></td>
      <td><button class="delete-student">Delete</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}