/* Every CSS is in here. */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    margin: 0 auto;
}

/* index.html */
#start {
    margin-top: 20px;
}

#start button {
    transition: background-color 0.3s, border-color 0.3s;
}

#start button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
    border-color: #004085;
}


/* Flash Messages */
.alert {
    position: relative;
    margin-bottom: 1rem;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    margin: -0.75rem -1.25rem -0.75rem auto;
    color: inherit;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-brand {
    background-color: rgb(68, 68, 248);
    border-radius: 15px;
    color: aliceblue;
    padding: 5px 10px;
}

#index-main {
    width: 50%;
}

.navbar #navbarNav .nav-link {
    border-radius: 25%;
}

.navbar #navbarNav .nav-link:active {
    background-color: black;
    color: aqua;
}

/* specific htmls */

.operation-area {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.operation-area .operations {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.operation-area .operations .d-flex {
    width: 80%;
}

.operation-area .operations .d-flex #param-search {
    margin: 0 10px;
}

.operation-area .operations .d-flex .search-btn {
    margin: 0 10px;
}

.operation-area .operations .d-flex #column-search {
    cursor: pointer;
    font-size: medium;
    margin: 0 10px;
}

.operation-area .operations .add-form {
    margin: 0 10px;
}

.table {
    border-color: black;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
}

.table th {
    font-size: 18px;
}

.table td {
    font-size: 14px;
    vertical-align: middle;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;  /* Makes the image circular */
    object-fit: cover;    /* Ensures the image covers the area without distortion */
    cursor: pointer;
}

/* Forms */
/* Custom styles for form title */
.form-title h1 {
    font-weight: bold;
    color: #333;
    border-bottom: 3px solid #007bff;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom styles for form fields */
.form-control.is-invalid,
.form-select.is-invalid {
    border-color: #dc3545;
}

/* Custom styles for invalid feedback */
.invalid-feedback {
    font-size: 0.875rem;
    display: block;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
}