* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    margin: 0 auto;
}

.alert {
    position: relative;
    margin-bottom: 1rem;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    margin: -0.75rem -1.25rem -0.75rem auto;
    color: inherit;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.navbar-brand {
    background-color: rgb(68, 68, 248);
    border-radius: 15px;
    color: aliceblue;
    padding: 5px 10px;
}

#index-main {
    width: 50%;
}

.navbar #navbarNav .nav-link{
    border-radius: 25%;
}

.navbar #navbarNav .nav-link:active {
    background-color: black;
    color: aqua;
}


.operation-area{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.operation-area .d-flex{
    width: 60%;
}

.operation-area #param-search{
    width: 50%;
    margin: 0 10px;
}

.btn{
    margin: 0 10px;
}

.operation-area #column-search {
    cursor: pointer;
    font-size: medium;
    margin: 0 10px;
}

.recent-search-display {
    width: 50%;
    margin: 0 auto;
}

.recent-search-display #recent-search {
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    font-size: 20px;
    border: none;
    background-color:rgba(250, 235, 215, 0.733);
    border-radius: 10px;
}

.table {
    border-color: black;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.table th {
    font-size: 18px;
}

.table td {
    font-size: 14px;
}