* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    margin: 0 auto;
}

.alert {
    position: relative;
    margin-bottom: 1rem;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    margin: -0.75rem -1.25rem -0.75rem auto;
    color: inherit;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.navbar-brand {
    background-color: rgb(68, 68, 248);
    border-radius: 15px;
    color: aliceblue;
    padding: 5px 10px;
}

#index-main {
    width: 50%;
}

.navbar #navbarNav .nav-link{
    border-radius: 25%;
}

.navbar #navbarNav .nav-link:active {
    background-color: black;
    color: aqua;
}

/* specific htmls */

.operation-area{
    position: relative;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.operation-area .d-flex{
    position: absolute;
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    left: 15%;
}

.operation-area #param-search{
    display: inline-flex;
    width: 65%;
    margin: 0 10px;
}

.operation-area .add-form{
    position: absolute;
    width: 40%;
    left: 75%;
    margin: 0 10px;
}

.operation-area .add-form #add-item{
    display: inline-flex;
    margin: auto;
}

.search-btn{
    margin: 0 10px;
}

.operation-area #column-search {
    cursor: pointer;
    font-size: medium;
    margin: 0 10px;
}

.recent-search-display {
    width: 50%;
    margin: 0 auto;
}

.recent-search-display #recent-search {
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    font-size: 20px;
    border: none;
    background-color:rgba(250, 235, 215, 0.733);
    border-radius: 10px;
}

.table {
    border-color: black;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.table th {
    font-size: 18px;
}

.table td {
    font-size: 14px;
}


/* Custom styles for form title */
.form-title h1 {
    font-weight: bold;
    color: #333;
    border-bottom: 3px solid #007bff;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom styles for form fields */
.form-control.is-invalid,
.form-select.is-invalid {
    border-color: #dc3545;
}

/* Custom styles for invalid feedback */
.invalid-feedback {
    font-size: 0.875rem;
    display: block;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
}